# ==============================#
#       Build artifacts         #
# ==============================#
build/

# Object files
*.o
*.obj
*.out

# Static libraries
*.a

# Shared libraries
*.so
*.so.*

# ==============================#
#       Temporary files         #
# ==============================#
